<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
    <h1>User Dashboard</h1>
    <div sec:authorize="isAuthenticated()">
        Welcome <span sec:authentication="name"></span>!
        <br/>
        Your roles: <span sec:authentication="principal.authorities"></span>
    </div>

    <div>
        <h2>Your Profile</h2>
        <p>This is your personal user page. Only authenticated users can see this.</p>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>

